/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --description-text-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --decorated-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decorated-color: #353430;
    --description-text-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --bg-image: url('../images/cover-image-light.png');
  }

  .theme-auto .decorated-zone::before {
    border-top: 1px solid var(--decorated-color);
    border-right: 1px solid var(--decorated-color);
  }
  
  .theme-auto .header__theme-menu-button {
    color: var(--decorated-color);
  }
  
  .theme-auto .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  
  .theme-auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--decorated-color);
    outline: none;
  }
  
  .theme-auto .decorated-zone::after {
    border-bottom: 1px solid var(--decorated-color);
    border-left: 1px solid var(--decorated-color);
  }
  
  .theme-auto .cards-section__title {
    color: var(--text-color);
  }
  
  .theme-auto .record::after {
    display: none;
  }
  
  .theme-auto .record::before {
    display: none;
  }
}

