/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --header-color: #DB00FF;
  --accent-color: #FF0070;
  --description-text-color: #000028;
  --decorated-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url('../images/cover-image-dark.png');
  --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: 18px;
  --page-padding: 10px;
  --decorated-zone-margin: 40px;
  --space-between-cards: 50px;
  --rec-display: block;
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --decorated-zone-margin: 60px;
    --space-between-cards: 80px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}